@model Proyecto.Models.Modulo
@{
    ViewBag.Title = "Edit";
}
<h2>  Editar </h2>
@*No se si sera Moduloe o Modulo*@
@using (Html.BeginForm("Edit", "Moduloe", FormMethod.Post))
{
    <p>Title: @Html.TextBox("cosa1")<br/>@*Cajita de texto*@
    <input type="submit" value="botonmieo"/></p>@*boton q no hace nada*@
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
