@model Proyecto.Models.Modulo

@{
    ViewBag.Title = "Edit";
}

<h2>  Editar </h2>


@using (Html.BeginForm("Edit", "Moduloe", FormMethod.Post)) @*No se si sera Moduloe o Modulo*@
{
    <div class="row">
        <div class="col-12">
           @Html.HiddenFor(ModuloeController->ModuloeController.Id)  @*Si arreglo esto creo que funciona*@
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
