@{
    ViewBag.Title = "Conocimientos";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />

</head>

<body onload="Desabilitar();">

    <div class=" Container" align-items-center>
        <h2>Lista de Empleados</h2>

        <p class=" boton float-right">
            <a href="~/Reporteria/Index" class="btn btn-default " style="background: #5B3924; color:white">
                <span></span> Regresar
            </a>
        </p>

        <table class="table table-striped">
            <tr>
                <th>
                    Habilidad
                </th>
                <th>
                    Cantidad de desarrolladores
                </th>
                <th>
                    Promedio de antüedad en empresa
                </th>
                <th></th>
            </tr>

                <tr>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>


                </tr>
        </table>
    </div>

    <script>
        function Desabilitar() {
            var rol = '@ViewBag.user';
            var lista = document.getElementsByClassName(rol);
            for (var i = 0; i < lista.length; ++i) {
                lista[i].setAttribute('readonly', 'readonly');
                lista[i].hidden = true;
            }
        }
    </script>

</body>

