@model IEnumerable<Proyecto.Models.Proyecto>

@{
    ViewBag.Title = "Proyectos";
}

<div class=" Container" align-items-center>
    <h2>Lista de Proyectos</h2>
    <p class=" boton float-right">
        <a href="~/Proyecto/Create" class="btn btn-success btn-lg glyphicon glyphicon-plus float-right ">
        </a>
    </p>
    <table class="table">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Nombre de Cliente
            </th>
            <th>
                Fecha de inicio
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.nombre, "Details", new { id = item.nombre })
                </td>
                <td>
                    @Html.ActionLink(item.Cliente.nombre, "Details", new { id = item.nombre })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaInicio)
                </td>
                <td>
                    <p class="botones">
                        <a href=@Url.Action(item.nombre, "Proyecto/Edit") onclick="Desabilitar()" class="btn Lider btn-info glyphicon glyphicon-wrench float-right ">
                        </a>
                        <a href=@Url.Action(item.nombre, "Proyecto/Delete") onclick="Desabilitar()" class="btn  Lider btn-danger glyphicon glyphicon-trash float-right ">
                        </a>
                    </p>
                </td>
            </tr>
        }

    </table>

</div>

<apex:page controller="ProyectoController">
    <apex:form id="form">
        <apex:outputText id="script">
            <script>
                function Desabilitar() {
                    var rol = "{!JSENCODE(rol)}"
                    var lista = document.getElementsByClassName(rol);
                    for (var i = 0; i < length(lista); ++i) {
                        lista[i].disabled = true;
                    }
                    alert("Hello! I am an alert box!!");
                }
            </script>
        </apex:outputText>
        @* <apex:actionFunction action="Desabilitar()" reRender="script" name="Desabilitar" />
         <button onclick="callUpdateA()">Call Update A</button>
        <button onclick="Desabilitar()">Say Something!</button>*@

    </apex:form>
</apex:page>